body {
    display: flex;
    margin: 0;
    font-family: "Ubuntu";
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

video {
    width: 491px;
}

.logo {
    position: absolute;
    width: 491px;
    height: 100px;
    text-align: center;
    font-family: "Monoton";
    color: white;
    font-size: 60px;
    top: 220px;
    background-color: rgb(0, 0, 0, 0.2);
}

img {
    width: 150px;
}

.info {
    padding: 90px 200px 50px 40px;
    font-size: 20px;
    color: #555555;
    font-weight: bold;
}


form{
    display: flex;
    flex-direction: column;

}

.form-questions {
    background-color: #ffffff;
    padding: 20px 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-title {
    color: #666666;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
}

fieldset {
    all: unset;
    display: flex;
    gap: 60px;
    padding: 15px;
    padding-left: 0;
}

label {
    font-size: 12px;
    font-weight: bold;
    color: #555555;
}

input {
    height: 25px;
    font-size: 14px;
    border: solid 1px #999999;
    border-radius: 5px;
    padding-left: 5px;
}

input:focus {
    border-color: #385681;
    outline: none;
    box-shadow: 3px 3px 5px rgba(56, 86, 129, 0.3)
}

button {
    position: relative;
    top: 25px;
    width: 180px;
    background-color: #385681;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin-left: 40px;
    cursor: pointer;
}

footer {
    position: relative;
    margin-left: 40px;
    top: 40px;
    color: #444444;
}

span {
    color: #385681;
    font-weight: bold;
}

input.pwd-wrong {
    border:solid 1px rgb(219, 12, 12);
}

#pwd-container.pwd-wrong::after {
    content: "Passwords do not match";
    display: block;
    font-size: 12px;
    color: rgb(219, 12, 12);
    position: absolute;
    top: 515px;
}
